.style-reviewItem {
  display: flex;
  border-radius: 5px;
  background-color: rgba(255, 228, 196, 0.412);
  margin: 0 auto;
  padding: 10px;
  margin-top: 8px;
}

.review-details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.style-reviewItem img {
  width: 91px;
}

.review-details p {
  margin: 0;
}

.review-details {
  margin-left: 10px;
}

.delete-icon {
  font-size: 30px;
  color: coral;
}

.delete-btn:hover {
  background-color: darkgoldenrod;
  cursor: pointer;
}

.delete-btn {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 0;
  background-color: rgb(231, 182, 255);
}